html 
    head 
    style. 
        .grilla {display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr};

    body 
        h1 Productos Fakes 
        .grilla 
            each producto in productos 
                .producto 
                    h5=productos.title 
                    p= producto.description 
                    img(src=producto.image,width="200px") 
                    h5 = producto.price